.App {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  max-width: 1500px;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.options {
  position: absolute;
  width: 50%;
  right: 10%;
  display: flex;
  justify-content: left;
}

.meal-container {
  position: relative;
  top: 10%;
  width: 100%;
  height: 80%;
}

.meal-list {
  position: absolute;
  left: 2%;
  width: 30%;
  height: 80%;
}

.meal-list-item {
  border: 0.3px solid black;
}

.meal-form {
  position: absolute;
  top: 5vh;
  height: 70%;
  right: 10%;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-content: right;
  justify-content: space-between;
}

.meal-form-item {
  width: 100%;
  margin-bottom: 2%;
}

.plan-form {
  position: absolute;
  top: 5vh;
  height: 70%;
  right: 10%;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-content: right;
  justify-content: space-around;
}

.plan-form-item {
  width: 100%;
  margin-bottom: 2vh;
}

.solution {
  position: absolute;

  padding: 0;
  margin: 0;
  
  top: 5%;
  height: 70%;
  right: 20%;
  width: 40%;
}